body {
    background:#F8F8F8;
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#content {
    background:#EEF3E2;
    border-radius:20px;
    width:50%;
    min-width:625px;
    max-width:650px;
    margin:2% 0 0 20%;
}

#form {
    margin:-170px 0 0 250px;
}

#zippy { 
    
}

#green_page {
    position:absolute;
    top:0;
    background-color:#EEF3E2;
    margin:70px 0 0 400px;
    padding:0;
    width:760px;
    border-radius:20px;
    height:430px;
}

.search_form {
    float:left;
}

.search {
    margin-top:10px;
}

.search2 {
    margin-top:2px;
    margin-left:-50px;
}


#search_results {
    font-family:Verdana;
}

button {
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    background-color:#EEF3E2;
    border-color:#FFFFFF;
    border-width:2px;
    border:outset 3px;
    color:#33A10B;
    border-radius:10px;
    width:auto;
}

.page_buttons {
    margin-top:-15px;
}
.page_buttons:hover {
    color: red;
    background:black;
    cursor:hand;
}

input.search {
    width:350px;
    height:60px;
    font-size:20px;
    font-family:Verdana;
    color:#33A10B;
    font-weight:bold;
    padding-left:30px;
    border-radius:10px;
}

textarea.contact_form {
    width:500px;
    height:350px;
    font-size:12px;
    font-family:Verdana;
    color:#33A10B;
    font-weight:bold;
    padding:10px;
    border-radius:10px;
    margin-top:20px;
}

input.search2 {
    margin-top:-15px;
    margin-bottom:0px;
    width:200px;
    height:20px;
    font-size:12px;
    font-family:Verdana;
    color:#33A10B;
    font-weight:bold;
    padding-left:5px;
    border-radius:10px;
}

table.results tr, td, th, tbody {
    padding:10px 0px 15px 3px;
    text-align:center;
    font-size:12px;
}

#results {
    margin-top:-10px;
}

.alignTop{vertical-align: top;}
.alignBottom{vertical-align: bottom;}
.alignTopLeft{text-align: left; vertical-align: top;}
.alignBottomLeft{text-align: left; vertical-align: bottom;}

.nav-link {
    font-size:16px;
    color:red;
    font-weight:bold;
    margin-left:10px;
}

.showing {
    font-size:16px;
    color:black;
    font-weight:bold;
    margin-left:-20px;
    margin-top:-15px;
    margin-bottom:5px;
}

.sort_buttons {
    font-size:16px;
    color: white;
    background:red;
}
.sort_buttons:hover {
    color: red;
    background:black;
    cursor:hand;
}

.filter_buttons {
    font-size:12px;
    color: white;
    background:red;
    min-width:180px;
}
.filter_buttons:hover {
    background:#33A10B;
}

.filter_buttons p, .filter_buttons a {
    text-align:justify;
}

#filters {
    position:absolute;
    margin-left:570px;
    margin-top:-100px;
}

.sort_buttons a {
    color:white;
}
.sort_buttons a:hover {
    color:#33A10B;
}

.filter_buttons a {
    color:white;
    text-decoration:none;
}
.filter_buttons a:hover {
    color:black;
}

#footer {
    font-size:12px;
    font-family:Verdana;
    color:#000000;
    font-weight:bold;
    position:absolute;
    bottom:0;
    margin-left:40%;
    padding:30px 0 0 0;
}
#footer button {
    color:black;
    background:white;
}

#footer button:hover {
    color:red;
    background:white;
}

a.footer_links {
    color:black;
}

a.footer_links:hover {
    color:#33A10B;
}

#prev_show {
    visibility:hidden;
}

#demo-frame > div.demo { padding: 10px !important; };